.listBox {
  display: flex;
  justify-content: center;
  border: 1px solid gainsboro;
}

.list {
  list-style: none;
  margin: 50px 50px;
}

.listTitle {
  font-size: 16px;
  margin-bottom: 15px;
}

.list li {
  font-size: 14px;
  margin-bottom: 15px;
}

.wixBox {
  width: 16rem;
  margin: 50px 0;
  margin-left: 30px;
}

.wixBox p {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.wixBox div {
  font-size: 14px;
  margin-bottom: 15px;
}

.iconBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
}

.iconBox div {
  display: flex;
  margin-left: 20px;
}

.iconBox span {
  margin-left: 40px;
}
