/***************************************
 *	작성자 영역 전체
 */
.author-info {
  padding: 0 5%;
}
/***************************************
 *	작성자
 */
.author {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 10%;
}

/***************************************
 *	작성자 이미지
 */
.author-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 5%;
}

/***************************************
 *	작성자명
 */
.author-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 1.5%;
}

/***************************************
 *	공유버튼
 */
.author-shortcut {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 3%;
}

/***************************************
 *	카테고리 바로가기
 */
.category-shortcut {
  font-size: 14px;
}
