/***************************************
 *	뉴스영역 전체
 */
.news-info-wrapper {
  padding: 0 5%;
}
/***************************************
 *	날짜
 */
.news-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

/***************************************
 *	공유 버튼
 */
.share-btn {
  width: 19px;
  height: 19px;
}

.news-info .share-btns {
  display: none;
}

/***************************************
 *	제목
 */
.news-title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 12%;
}

/***************************************
 *	내용
 */
.news-con {
  font-size: 23px;
  line-height: 1.5;
  margin: 8% 0;
}
