/***************************************
 *	뉴스영역 전체
 */
.newsInfoWrapper {
  padding: 0 5%;
}
/***************************************
 *	날짜
 */
.newsInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

/***************************************
 *	공유 버튼
 */
.shareBtn {
  width: 19px;
  height: 19px;
}

.news_info .share_btns {
  display: none;
}

/***************************************
 *	제목
 */
.newsTitle {
  font-size: 40px;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 13%;
  line-height: 1.2;
}

/***************************************
 *	내용
 */
.newsCon {
  font-size: 23px;
  line-height: 1.7;
  margin: 8% 0;
}
