/***************************************
 *	공유버튼
 */
.share_btns {
  display: flex;
  justify-content: left;
  align-items: center;
}

.share_btns button {
  display: block;
  margin: 0 2%;
  cursor: pointer;
}

.share_facebook:hover svg {
  fill: #4464a3;
}
.share_x:hover svg {
  fill: #55acee;
}
.share_linkedin:hover svg {
  fill: #0077b5;
}
