/***************************************
 *	공유버튼
 */
.share-btns {
  display: flex;
  justify-content: left;
  align-items: center;
}

.share-btns button {
  display: block;
  margin: 0 2%;
  cursor: pointer;
}

.share-facebook:hover svg {
  fill: #4464a3;
}
.share-x:hover svg {
  fill: #55acee;
}
.share-linkedin:hover svg {
  fill: #0077b5;
}
