.upperSide {
  display: flex;
  padding: 70px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-right: 100px;
  height: 500px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-right: 50px;
}

.mainArticle {
  margin-top: 5px;
  align-self: flex-start;
  font-size: 35px;
  cursor: pointer;
}

.detailButton {
  color: grey;
  font-size: 18px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.mainImg {
  display: flex;
  max-width: 65%;
  /* 이미지 비율을 유지하면서 크기에 맞춤 */
  object-fit: cover;
  cursor: pointer;
}
