.upper-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex: 1;
}

.main-article {
  display: flex;
  font-size: 35px;
  justify-content: space-between;
}

.detail-button {
  color: grey;
  font-size: 18px;
  border: none;
  background-color: white;
}

.main-img {
  flex: 1;
  max-width: 60%;
  display: flex;
  justify-content: flex-end;
}

.lower-side {
  display: flex;
}

/* Item CSS */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.itemCard {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.itemCard-img {
  width: 100%;
  height: auto;
}

.uploadedDate,
.itemTitle {
  margin-top: 10px;
}

/* 미디어 쿼리 */
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1199px) and (min-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 899px) and (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 5px;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
}
