/* Main */
.upper-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-right: 100px;
  height: 500px;
}

.main-article {
  margin-top: 5px;
  align-self: flex-start;
  font-size: 35px;
}

.detail-button {
  color: grey;
  font-size: 18px;
  border: none;
  background-color: white;
}

.main-img {
  display: flex;
  max-width: 60%;
}

.line {
  border-bottom: 1px solid #000;
  width: 400px;
  align-self: flex-end;
  padding-left: 50px;
}

/* Section */
.section-header {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.section-title {
  font-size: 50px;
}

.section-text {
  font-size: 20px;
}

/* Item CSS */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 50px;
}

.itemCard {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.itemCard-img {
  width: 100%;
  height: auto;
}

.uploadedDate,
.itemTitle {
  margin-top: 10px;
}

/* 미디어 쿼리 */
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr); /* 최대 5개의 열 */
  }
}

@media (max-width: 1199px) and (min-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 899px) and (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 5px;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
}
